<mat-toolbar color="dark">
  <span> Ecommerce Store </span>
  <span class="space-buttons"></span>
  <button mat-raised-button *ngIf="!isloggedIn()" routerLink="/login">
    Login
  </button>
  <button mat-raised-button color="warn" *ngIf="isloggedIn()" click="Logout()">
    Logout
  </button>
</mat-toolbar>

<mat-toolbar color="dark" *ngIf="isloggedIn()">
  <button mat-raised-button color="primary" routerLink="/home">Home</button>
  <button
    *ngIf="isAdmin()"
    mat-raised-button
    color="warn"
    routerLink="/addnewproduct"
  >
    Add Product
  </button>
  <button
    *ngIf="isAdmin()"
    mat-raised-button
    color="warn"
    routerLink="/showproductdetails"
  >
    Show Products Details
  </button>
</mat-toolbar>
