<div class="container mt-5">
  <div class="card p-2">
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            Image Area
        </div>
    </div>

    <p>
      <mat-form-field appearance="fill" class="w-75">
        <mat-label>Enter your Username</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          ngModel
          id="product"
          name="product"
        />
      </mat-form-field>
    </p>
  </div>
</div>
