<div class="container mt-5">
  <div class="card" style="padding: 20px">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <p>
        <mat-form-field appearance="fill" class="w-75">
          <mat-label>Enter your Username</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            ngModel
            id="username"
            name="username"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="w-75">
          <mat-label>Enter your Password</mat-label>
          <input matInput placeholder="Placeholder" type="password" ngModel id="password" name="password" />
        </mat-form-field>
      </p>
      <button type="submit"class="w-auto" mat-raised-button color="primary">Login</button>
    </form>
  </div>
</div>
