<div class="container mt-5">
  <mat-grid-list cols="4" rowHeight="3:5" gutterSize="10">
    <mat-grid-tile *ngFor="let products of productDetails">
      <div class="row p-5" >
        <div class="imgcontainer"><img [src]="products.productImages[0].url" alt="" /></div>
        
      </div>
      <div class="mt-3">
        <p>
          <b>{{ products.productname }}</b>
        </p>
      </div>
      <div
        class="mt-2"
        style="
          white-space: inherit;
          height: 80px;
          width: 280px;
          text-overflow: ellipsis;
          overflow: hidden;
        "
      >
        <p>
          {{ products.productdescription }}
        </p>
      </div>
      <div class="mt-2">
        <p>
          {{ products.productprice | currency : "USD" }}
          &nbsp;
          <b style="text-decoration: line-through"></b>Discount price:
          {{ products.discountprice | currency : "USD" }}
        </p>
      </div>
      <div class="mt-2">
        <button mat-raised-button color="warn">View Detials</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
a
